<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/createblog.css">
</head>

<body style="">
    <div class="outer-body">
        <div class="form-body">
            <h2 style="">Create your blog</h2>
            <div class="form" style>
                <form action="/createblog" method="post">
                    <label>Title</label><br>
                    <input name="title" type="text" placeholder="title" required><br>
                    <label>Description</label><br>
                    <input name="description" type="text" placeholder="description" required><br>
                    <label>Category</label><br>
                    <select name="category" id="category">
                        {{#each topics}}
                        <option value="{{this.category}}">{{this.category}}</option>
                        {{/each}}
                    </select>

                    <br><br>
                    <textarea placeholder="write your text here...." name="message" id="" cols="30" rows="10"></textarea required><br>
                    <input type="submit"  class="button" value="submit">
                </form>
            </div>
        </div>
    </div>
</body>

</html>