<!DOCTYPE html>
<!---Coding By CoderGirl | www.codinglabweb.com--->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/signup.css">
</head>

<body>
    <div class="container">
        <div class="registration form">
            <header>Signup</header>
            <form action="/signup" method="post">
                <input type="text" name="name" placeholder="Enter your fullname" required>
                <input type="text" name="email" placeholder="Enter your email" required>
                <input type="password" name="password" placeholder="Create a password" required>
                {{#if error}}
                <p style="color: red;">user already exisist!</p>
                {{/if}}
                <input type="submit" class="button" value="Signup">

            </form>
            <div class="signup">
                <span class="signup">Already have an account?
                    <a href="/login">Login</a>
                </span>
            </div>
        </div>
    </div>
</body>

</html>