@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


body {
    background-color: #4070f4;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;

}

.outer-body {
    display: flex;
    justify-content: center;
    margin-top: 20px
}

.form-body {
    background-color: white;
    padding: 30px;
    border-radius: 10px;

}

h2 {
    text-align: center;
    font-weight: 500;
    font-size: 30px;

}

.form {
    padding: 20px;
}

label {
    margin-bottom: 20px;

}

input {
    margin-bottom: 10px;
    width: 25rem;
    height: 30px;
}

select {
    width: 25rem;
    height: 30px
}

textarea {
    border-radius: 10px;
    width: 25rem;
}

.button {
    margin-top: 20px;
    margin-left: 35%;
    height: 35px;
    width: 70px;
    background-color: #4070f4;
    color: white;
}

.button:hover {
    background-color: #31416e;
}